@media (max-width: 1280px) {
	
}

@media (max-width: 960px) {
	#contact form input, textarea {
		width: 50%;
	}
}
@media (max-width: 840px) {
	nav .nav-left {
		width: 100%;
		text-align: center;
	}
	nav .nav-middle, nav .nav-right {
		width: 49%;
		text-align: center;
	}
}
@media (max-width: 640px) {
	header .description {
		margin-top: 10%;
		font-size: 28px;
	}
	header .description span {
		font-size: 18px;
	}
	
	/* BLOG STYLES */
	.blog main {
		padding: 1px 0 0;
	}
	.blog main section {
		width: 100%;
	}
	.sidebar {
		display: none;
	}
}

@media (max-width: 480px) {
	header .description {
		margin-top: 10%;
		font-size: 24px;
	}
	header .description span {
		font-size: 14px;
	}
	#portfolio main .item {
		width: 100%;
		height: 100%;
		display: inline-block;
		margin-right: 1.3%;
	}
	#portfolio main .details-box > div {
		width: 97%;
		margin-left: 0;
	}
	#portfolio main .details-box img {
		width: 85%;
	}
	#contact form input, textarea {
		width: 90%;
	}
	.soc {
		padding: 20px 9%;
	}
	
	/* BLOG STYLES */
	.blog main {
		padding: 0;
	}
	.blog main .blognav div {
		display: block;
		text-align: center;
	}
	.blog main .blognav div:last-child {
		float: none;
	}
	.blog main .blognav div:last-child input {
		text-align: center;
	}
	.blog main .blognav, .blog main .post, .blog main .sidebar {
		margin: 0 0 10px;
	}
	
	/* PRICING STYLES */
	section.marketing div.slide > div {
		width: 80%;
		padding: 2em 0 0 1em;
	}
	section.marketing h1 {
		font-size: 48px;
	}
}

@media (max-width: 320px) {
	
}

@media (orientation: portrait) and (max-width: 480px) {
	nav .nav-middle, nav .nav-right {
		width: 100%;
	}
	header {
		background-image: url("../images/cover-small.jpg");
		color: #FFFFFF;
	}
	header .description {
		background-color: rgba(0, 0, 0, 0.7);
		width: 100%;
		height: 100%;
		margin-top: 0;
		margin-left: 0;
		padding: 5px 0;
		font-size: 32px;
		text-align: center;
	}
	header .description h1 {
		margin: 5%;
	}
	header .description span {
		font-size: 18px;
		color: #E2E2E2;
		margin: 3%;
	}
}