@font-face {
	font-family: "Myraid Pro";
	src: url("../fonts/myriad.ttf");
}

body {
	margin: 0;
	font-family: Roboto, Helvetica;
}
table {
	width: 100%;
	padding-left: 15px;
	text-align: center;
}
table tr td:first-child {
	text-align: left;
}
input, textarea {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid black;
	font-family: Roboto;
	font-size: 16px;
	padding: 1%;
}
blockquote {
	background: #f9f9f9;
	margin: 1.5em 10px;
	padding: 1em 10px;
	font-family: Georgia;
	font-size: 20px;
	font-style: italic;
	line-height: 32px;
	text-align: center;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
a {
	text-decoration: none;
    color: #1BB71B;
	transition: 0.2s;
}
a:hover {
	color: brown;
}

/*  CUSTOM COMPONENTS */

nav {
	background-color: rgba(0, 0, 0, 0.9);
	padding: 0 1%;
}
nav .nav-left, nav .nav-middle, nav .nav-right {
	display: inline-block;
	width: 33%;
}
nav .nav-left .logo {
	font-weight: 100;
	color: #B30652;
}
nav .nav-left .logo span {
	font-family: Myriad Pro;
}
nav .nav-right {
	font-size: 20px;
}
nav ul {
	list-style: none;
	padding: 0;
}
nav ul li {
	display: inline;
	margin-right: 5%;
}

footer {
	padding: 3%;
}
footer div.links {
	text-align: center;
}
footer div.links ul {
	list-style: none;
	padding: 0;
}
footer div.links ul li {
	display: inline-block;
	width: 33%;
	margin-bottom: 2%;
}
footer p {
	margin: 0;
}

header {
	height: 100vh;
	position: relative;
	background-image: url("../images/cover-normal.jpg");
	background-size: cover;
	background-position: center center;
	overflow: hidden;
}
header .description {
	width: 55%;
	font-size: 42px;
	font-weight: 300;
	margin-top: 20%;
	margin-left: 7%;
}
header .description .responsive-image {
	display: none;
}
header .description span {
	display: block;
	font-size: 24px;
	color: #2F2F2F;
}
header .scroll-down {
	position: absolute;
    bottom: 8%;
    left: 0;
    right: 0;
	text-align: center;
	cursor: pointer;
}
header .description-404 {
	margin-top: 5%;
	margin-left: 7%;
	width: 55%;
	color: #2F2F2F;
	font-weight: 300;
	font-size: 18px;
}
header .links-404 ul {
	list-style-type: none;
}
header .links-404 ul li {
	display: inline;
	padding: 0 5%;
	font-size: 20px;
}
header .links-404 ul li:hover {
	text-decoration: underline;
}
header .links-404 ul li a {
	color: brown;
}

body > main > div {
	padding: 5px;
}
body > main > div > h1 {
	border-bottom: 2px solid black;
	transition: 0.5s;
}
body > main > div > h1:hover, body > main > div.active > h1 {
	color: rgb(179, 6, 82);
	border-bottom: 2px solid rgb(179, 6, 82);
}
#about h1, #portfolio h1, #contact h1 {
	position: relative;
	margin: 0;
	padding: 21px 0;
	background-color: aliceblue;
	text-align: center;
	cursor: pointer;
}
#about h1 span, #portfolio h1 span, #contact h1 span {
	position: absolute;
	left: 45px;
	transition: 0.5s;
}
#about.active h1 span, #portfolio.active h1 span, #contact.active h1 span {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}
/*  View Controller in "About section" */
#about div.view {
	text-align: right;
	padding-right: 20px;
	padding-bottom: 15px;
    border-bottom: 1px solid;
}
div.view div {
	display: inline-block;
}
div.view div > span {
	color: blue;
	background-color: white;
	border: 1px solid blue;
	padding: 3px;
	transition: 0.5s;
}
div.view span.active {
	color: white;
	background-color: blue;
}
div.view span:hover {
	color: white;
	background-color: rgb(179, 6, 82);
	border-color: rgb(179, 6, 82);
	cursor: pointer;
}
/*  View controller styling ends here */
.block-false {
	background-color: rgba(230, 37, 63, 0.8);
	color: azure;
}
.block-true {
	background-color: rgba(30, 237, 63, 0.8);
	color: #1000FF;
}
.view-graph {
	display: none;
}
.view-graph .graph {
	text-align: center;
}
.view-graph .graph svg {
	width: 100% !important;
}
#portfolio main .item {
	width: 32%;
	height: 100%;
	display: inline-block;
	margin-right: 1.3%;
	float: left;
}
#portfolio main .item-thumb {
	width: 100%;
	height: 200px;
	background-size: contain;
	position: relative;
}
#portfolio main .item-thumb .details {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 100%;
	text-align: center;
	background-color: rgb(179, 6, 82);
	color: #FFFFFF;
	overflow: hidden;
	cursor: pointer;
	transition: 0.3s;
}
#portfolio main .item-thumb .details div {
    position: absolute;
	width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
#portfolio main .item-thumb:hover .details {
	left: 0;
}
#portfolio main .details-box {
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 105%;
	left: 0;
	z-index: 1;
	transition: 0.3s linear;
}
#portfolio main .details-box > div {
	position: relative;
	width: 80%;
	height: 100%;
	margin-top: 5%;
	margin-left: 8%;
	padding-top: 5%;
	padding-left: 3%;
	background-color: #FFF;
}
#portfolio main .details-box img {
	width: 65%;
	display: block;
	margin: 0 auto;
}
#portfolio main .details-box.active {
	width: 100%;
	height: 100%;
	top: 0;
}
#portfolio main .details-box .close {
	color: #B90606;
	position: absolute;
	top: 2%;
	right: 2%;
	font-size: 16px;
	padding: 1%;
	cursor: pointer;
}
#portfolio main .item .fa-link {
	float: right;
	margin-right: 5px;
}
/* CLEAR FIX FOR FLOATING ITEMS*/
#portfolio main .design {
	clear: both;
}
#portfolio main .development {
	clear: both;
}
#portfolio main .design:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
#contact form {
	text-align: center;
}
#contact form label {
	position: absolute;
}
#contact form input, textarea {
	width: 40%;
	transition: 0.5s;
}
#contact form input.wrong {
	background-color: #FFBABA;
}
#contact textarea {
	height: 150px;
	resize: none;
	border: none;
	border-bottom: 2px solid black;
}
#contact form input:focus, #contact textarea:focus {
	border-bottom: 2px solid brown;
	outline: none;
}
#contact form button {
	font-size: 16px;
	font-weight: 600;
    border: 2px solid transparent;
    background: none;
	color: #B30652;
	padding: 0.4%;
    text-transform: uppercase;
	transition: 0.5s;
}
#contact form button:hover {
	background-color: #B30652;
	color: #FFFFFF;
}
#contact .prof-icon {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

/*
 * SOCIAL ICONS - CSS
 */
.fa.fa-twitter {
	color: #55acee;
}
.fa.fa-google-plus {
	color: #db4437;
}
.fa.fa-linkedin {
	color: #ffffff;
}

/**
  * BLOG STYLES
  **/

.blog header {
	background-image: url("../images/blog-header-bg.png");
	font-weight: 100;
	font-size: 48px;
	text-align: center;
	color: rgb(179, 6, 82);
	height: 260px;
}
.blog main {
	background-image: url("../images/texture.jpg");
	padding: 2%;
}
.blog main .blognav, .blog main .post, .blog main .sidebar {
	background-color: aliceblue;
	margin: 10px;
	padding: 15px;
}
.blog main .blognav div {
	display: inline-block;
}
.blog main .blognav div:first-child a {
	margin-right: 10px;
}
.blog main .blognav div:last-child {
	float: right;
}
.blog main section {
	float: left;
	width: 70%;
}
.blog main .post {
	position: relative;
	height: 500px;
	overflow: hidden;
}
.blog main .post.full {
	height: 100%;
	padding: 10px;
}
.blog main .post h2 small {
	color: rgb(147, 147, 147);
	float: right;
	padding-top: 5px;
}
.blog main .post .post-body {
	padding: 10px;
}
.blog main .post img {
	width: 95%;
}
.blog main .post .more {
	width: 100%;
	background-color: white;
	text-align: center;
	position: absolute;
	bottom: 0;
	padding: 3% 0;
}
.sidebar {
	float: right;
	width: 23%;
}
/* FLOAT FIXES */
.blog main:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/**
  * PACKAGES PAGE STYLES
  **/

section.marketing {
	height: 90vh;
	background-image: url("../images/marketing-bg.png");
	background-size: cover;
}
section.marketing div {
	padding-top: 3em;
	padding-left: 3em;
}
section.marketing h1 {
	color: #00B5FF;
	font-size: 56px;
	font-weight: 100;
	margin: 0;
}
section.marketing h3 {
	color: #ffffff;
	font-weight: 100;
}
section.features .options, section.features .result {
	display: inline-block;
}
section.features .options {
	width: 30%;
}
section.features .result {
	width: 70%;
}
.bg-7 {
	color: #C3E9F5;
	background: linear-gradient(45deg, #02cbdf, rgb(179, 6, 82));
}
.pricing__item {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: stretch;
	align-items: stretch;
	text-align: center;
	-webkit-flex: 0 1 330px;
	flex: 0 1 330px;
}
.pricing-section__title {
	font-size: 1.4em;
	font-weight: 700;
	text-align: center;
	margin: 0em 0 3em;
	padding-top: 3em;
	flex: none;
}
.pricing {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
	margin: 0 auto 0em;
}
.pricing--norbu .pricing__item {
	margin: 1em;
	color: #fff;
	cursor: default;
	font-family: 'Myriad Pro', Arial, sans-serif;
	border: 1px solid rgba(255,255,255,0.4);
	background: rgba(255,255,255,0.08);
	border-radius: 10px;
	-webkit-transition: border-color 0.3s, background 0.3s;
	transition: border-color 0.3s, background 0.3s;
}
.pricing--norbu .pricing__item:hover {
	border: 1px solid rgba(255,255,255,1);
	background: rgba(255,255,255,0.18);
}
.pricing--norbu .pricing__title {
	font-size: 2em;
	font-weight: 400;
	margin: 0.5em 0;
	padding: 1em;
	position: relative;
}
.pricing--norbu .pricing__title::after {
	content: '';
	position: absolute;
	width: 20%;
	height: 1px;
	background: #fff;
	left: 40%;
	bottom: 0;
}
.pricing--norbu .pricing__sentence {
	padding: 1em 2em;
	font-size: 1em;
	margin: 0 auto 1em;
}
.pricing--norbu .pricing__price {
	font-size: 3.5em;
	padding: 0.5em 0 0 0;
	font-weight: 400;
	position: relative;
	z-index: 100;
}
.pricing--norbu .pricing__currency {
	font-size: 0.5em;
	vertical-align: super;
}
.pricing--norbu .pricing__period {
	font-size: 0.25em;
	display: block;
	padding: 1em;
}
.pricing--norbu .pricing__feature-list {
	font-size: 1.15em;
	margin: 0 2em;
	letter-spacing: 0;
	padding: 2em 0;
	list-style: none;
}
.pricing__feature-list {
	text-align: left;
}
.pricing--norbu .pricing__feature {
	line-height: 1.4;
}
.pricing--norbu .pricing__feature .fa-long-arrow-right {
	margin-right:	5%;
}
.pricing--norbu .pricing__action {
	font-weight: bold;
	flex: none;
	margin: auto 1em 1em;
	padding: 1.25em 2em;
	color: #4aa8e4;
	background: rgba(255,255,255,0.7);
	border-radius: 5px;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}
.pricing__action {
	color: inherit;
	border: none;
	background: none;
}
.pricing--norbu .pricing__action:hover, .pricing--norbu .pricing__action:focus {
	background: #fff;
}