<footer>
	<div class="links">
		<ul>
		 <li><a target="_blank" href="https://www.upwork.com/freelancers/~01cd4cdc2a87c4ae22">Upwork</a></li>
		 <li><a target="_blank" href="https://www.freelancer.com/u/MustagheesButt.html">Freelancer</a></li>
		 <li><a target="_blank" href="https://www.fiverr.com/users/mustaghees">Fiverr</a></li>
		 <li><a target="_blank" href="https://twitter.com/MustagheesButt">Twitter</a></li>
		 <li><a target="_blank" href="https://plus.google.com/104400783426208094984/posts">Google+</a></li>
		 <li><a target="_blank" href="https://www.linkedin.com/pub/mustaghees-butt/b3/936/973">LinkedIn</a></li>
		</ul>
	</div>
	<p>&copy; Copyright Mustaghees Butt, 2015 - 2016. All rights reserved.</p>
</footer>