<nav>

	<div class="nav-left">
		<a href="http://mustagheesbutt.github.io">
			<h1 class="logo"><span>M</span>ustaghees</h1>
		</a>
	</div>

	<div class="nav-middle">
		<ul>
			<a href="../index.html"><li>Home</li></a>
			<a href="../blog/index.html"><li>Blog</li></a>
			<a href="../pricing/pricing.html"><li>Pricing</li></a>
			<a href="../details/details.html"><li>CV</li></a>
		</ul>
	</div>

	<div class="nav-right">
		<ul>
			<li><a target="_blank" href="https://twitter.com/MustagheesButt"><i class="fa fa-twitter"></i></a></li>
			<li><a target="_blank" href="https://plus.google.com/104400783426208094984/posts"><i class="fa fa-google-plus"></i></a></li>
			<li><a target="_blank" href="https://www.linkedin.com/pub/mustaghees-butt/b3/936/973"><i class="fa fa-linkedin"></i></a></li>
		</ul>
	</div>

</nav>