@font-face {
	font-family: "Myraid Pro";
	src: url("../fonts/myriad.ttf");
}

body {
	margin: 0;
	font-family: Roboto, Helvetica;
}
table {
	width: 100%;
	padding-left: 15px;
	text-align: center;
}
table tr td:first-child {
	text-align: left;
}
blockquote {
	background: #f9f9f9;
	margin: 1.5em 10px;
	padding: 1em 10px;
	font-family: Georgia;
	font-size: 20px;
	font-style: italic;
	line-height: 32px;
	text-align: center;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
a {
	text-decoration: none;
    color: #1BB71B;
	transition: 0.2s;
}
a:hover {
	color: brown;
}

/*  CUSTOM COMPONENTS */

nav {
	background-color: rgba(0, 0, 0, 0.9);
	padding: 0 1%;
}
nav .nav-left, nav .nav-middle, nav .nav-right {
	display: inline-block;
	width: 33%;
}
nav .nav-left .logo {
	font-weight: 100;
	color: #B30652;
}
nav .nav-left .logo span {
	font-family: Myriad Pro;
}
nav .nav-right {
	font-size: 20px;
}
nav ul {
	list-style: none;
	padding: 0;
}
nav ul li {
	display: inline;
	margin-right: 5%;
}
footer {
	padding: 0 1%;
}

header {
	height: 100vh;
	position: relative;
	background-image: url("../images/cover-normal.jpg");
	background-size: cover;
	background-position: center center;
	overflow: hidden;
}
header .description {
	width: 55%;
	font-size: 42px;
	font-weight: 300;
	margin-top: 20%;
	margin-left: 7%;
}
header .description .responsive-image {
	display: none;
}
header .description span {
	display: block;
	font-size: 24px;
	color: #2F2F2F;
}
header .scroll-down {
	position: absolute;
    bottom: 8%;
    left: 0;
    right: 0;
	text-align: center;
	cursor: pointer;
}
header .description-404 {
	margin-top: 5%;
	margin-left: 7%;
	width: 55%;
	color: #2F2F2F;
	font-weight: 300;
	font-size: 18px;
}
header .links-404 ul {
	list-style-type: none;
}
header .links-404 ul li {
	display: inline;
	padding: 0 5%;
	font-size: 20px;
}
header .links-404 ul li:hover {
	text-decoration: underline;
}
header .links-404 ul li a {
	color: brown;
}
body > main > div {
	padding: 5px;
}
body > main > div > h1 {
	border-bottom: 2px solid black;
	transition: 0.5s;
}
body > main > div > h1:hover, body > main > div.active > h1 {
	color: rgb(179, 6, 82);
	border-bottom: 2px solid rgb(179, 6, 82);
}
#about h1, #portfolio h1, #contact h1 {
	position: relative;
	margin: 0;
	padding: 21px 0;
	background-color: aliceblue;
	text-align: center;
	cursor: pointer;
}
#about h1 span, #portfolio h1 span, #contact h1 span {
	position: absolute;
	left: 45px;
	transition: 0.5s;
}
#about.active h1 span, #portfolio.active h1 span, #contact.active h1 span {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}
/*  View Controller in "About section" */
#about div.view {
	text-align: right;
	padding-right: 20px;
	padding-bottom: 15px;
    border-bottom: 1px solid;
}
div.view div {
	display: inline-block;
}
div.view div > span {
	color: blue;
	background-color: white;
	border: 1px solid blue;
	padding: 3px;
	transition: 0.5s;
}
div.view span.active {
	color: white;
	background-color: blue;
}
div.view span:hover {
	color: white;
	background-color: rgb(179, 6, 82);
	border-color: rgb(179, 6, 82);
	cursor: pointer;
}
/*  View controller styling ends here */
.block-false {
	background-color: rgba(230, 37, 63, 0.8);
	color: azure;
}
.block-true {
	background-color: rgba(30, 237, 63, 0.8);
	color: #1000FF;
}
.view-graph {
	display: none;
}
.view-graph .graph {
	text-align: center;
}
.view-graph .graph svg {
	width: 100% !important;
}
#portfolio main .item {
	width: 32%;
	height: 100%;
	display: inline-block;
	margin-right: 1.3%;
	float: left;
}
#portfolio main .item-thumb {
	width: 100%;
	height: 200px;
	background-size: contain;
	position: relative;
}
#portfolio main .item-thumb .details {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 100%;
	text-align: center;
	background-color: rgb(179, 6, 82);
	color: #FFFFFF;
	overflow: hidden;
	cursor: pointer;
	transition: 0.3s;
}
#portfolio main .item-thumb .details div {
    position: absolute;
	width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
#portfolio main .item-thumb:hover .details {
	left: 0;
}
#portfolio main .details-box {
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 105%;
	left: 0;
	z-index: 1;
	transition: 0.3s linear;
}
#portfolio main .details-box > div {
	position: relative;
	width: 80%;
	height: 100%;
	margin-top: 5%;
	margin-left: 8%;
	padding-top: 5%;
	padding-left: 3%;
	background-color: #FFF;
}
#portfolio main .details-box img {
	width: 65%;
	display: block;
	margin: 0 auto;
}
#portfolio main .details-box.active {
	width: 100%;
	height: 100%;
	top: 0;
}
#portfolio main .details-box .close {
	color: #B90606;
	position: absolute;
	top: 2%;
	right: 2%;
	font-size: 16px;
	padding: 1%;
	cursor: pointer;
}
#portfolio main .item .fa-link {
	float: right;
	margin-right: 5px;
}
/* CLEAR FIX FOR FLOATING ITEMS*/
#portfolio main .design {
	clear: both;
}
#portfolio main .development {
	clear: both;
}
#portfolio main .design:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
#contact main h4 {
	background-color: aliceblue;
	padding: 5px 25px;
	border-top: 1px solid brown;
	border-bottom: 1px solid brown;
	transition: 0.3s;
}
#contact main h4:hover {
	background-color: #CCE3F7;
}
#contact form {
	text-align: center;
}
#contact form label {
	position: absolute;
}
#contact form input, textarea {
	font-family: Roboto;
	font-size: 16px;
	padding: 0.5%;
	width: 40%;
	transition: 0.5s;
}
#contact form input {
	border: none;
	border-bottom: 2px solid black;
}
#contact form input.wrong {
	background-color: #FFBABA;
}
#contact textarea {
	height: 150px;
	resize: none;
	border: none;
	border-bottom: 2px solid black;
}
#contact form input:focus, #contact textarea:focus {
	border-bottom: 2px solid brown;
	outline: none;
}
#contact form button {
	font-size: 16px;
	font-weight: 600;
    border: 2px solid transparent;
    background: none;
	color: #B30652;
	padding: 0.4%;
    text-transform: uppercase;
	transition: 0.5s;
}
#contact form button:hover {
	background-color: #B30652;
	color: #FFFFFF;
}
#contact .prof-icon {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

/*
 * SOCIAL ICONS - CSS
 */
@font-face {
    font-family: "si";
    src: url('../fonts/socicon.eot');
    src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon.woff') format('woff'),
         url('../fonts/socicon.ttf') format('truetype'),
         url('../fonts/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: si;
        src: url('../fonts/socicon.svg') format(svg);
    }
}

.soc {
    overflow: hidden;
    margin: 0;
	padding: 20px 18%;
    list-style: none;
}

.soc li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.soc li a {
    font-family: si !important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 33px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 50px;
    color: #ffffff;
    background-color: none;
}

.soc a:hover {
    z-index: 2;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'a';
}
.soc-google {
    background-color: #d93e2d;
}
.soc-google:before {
    content:'c';
}
.soc-linkedin {
    background-color: #3371b7;
}
.soc-linkedin:before {
    content:'j';
}

.socicon-twitter {
	color: #55acee;
}
.socicon-googleplus {
	color: #db4437;
}
.socicon-linkedin {
	color: #ffffff;
}

/**
  * BLOG STYLES
  **/

.blog header {
	background-image: url("../images/blog-header-bg.png");
	font-weight: 100;
	font-size: 48px;
	text-align: center;
	color: rgb(179, 6, 82);
	height: 260px;
}
.blog main {
	background-image: url("../images/texture.jpg");
	padding: 2%;
}
.blog main section {
	float: left;
	width: 73%;
}
.blog main .post {
    background-color: aliceblue;
	position: relative;
	margin: 10px;
	height: 500px;
	overflow: hidden;
}
.blog main .post.full {
	height: 100%;
}
.blog main .post h2 {
	padding: 10px;
}
.blog main .post h2 small {
	color: rgb(147, 147, 147);
	float: right;
	padding-top: 5px;
}
.blog main .post .post-body {
	padding: 10px;
}
.blog main .post img {
	width: 95%;
}
.blog main .post .more {
	width: 100%;
	background-color: white;
	text-align: center;
	position: absolute;
	bottom: 0;
	padding: 3% 0;
}
.sidebar {
	float: right;
	width: 23%;
	background-color: aliceblue;
	margin: 10px;
}
/* FLOAT FIXES */
.blog main:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}